/* Stylesheet */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);

html, body {
	padding: 0;
	margin: 0;
	font-family: "Open Sans", Helvetica, sans-serif;
}

section {
	width: 100%;
	margin: 0 auto;
	padding: 100px 50px 100px 50px;
}

.sticky-section {
	background-color: #eee;
}

.blur-section {
	background-color: #ddd;
}

.fancy-section {
	background-color: #eee;
}





.stickyelement {
	position: relative;
	right: -65%;
	width: 25%;
	padding: 20px;
	text-align: center;
	background: #ccc;
}


.blurelement {
	margin: 0 auto;
	width: 30%;
	padding: 50px 20px 50px 20px;
	text-align: center;
	background: #bbb;
}